src/LogInsight/build/*/
src/LogInsight/build/*.*
src/LogInsight/.qt/
src/LogInsight/CMakeFiles/
src/LogInsight/CMakeCache.txt
src/LogInsight/LogInsight_autogen/
src/LogInsight/LogInsight
src/LogInsight/cmake_install.cmake
/obj
log_monitor
.vscode/settings.json
LogInsight
.vscode/launch.json
.vscode/c_cpp_properties.json
managed_context/metadata.json
test_suite_analysis/metadata.json
old_memuse.txt
new_memuse.txt
